<% include header %>
  </head>
   
  <% include navbar %>

    <div class="jumbotron">
      <div class="container">
        <h1 class="display-4">Kedves Olvasó!</h1>
        <p class="lead">
          Üdvözöllek az oldalon!
        </p>
        <hr class="my-4" />
        <p>
          Ha kedvet kapsz az olvasáshoz, csak kérj kölcsön egy könyvet és már
          olvashatod is a legjobb, legizgalmasabb könyveket.
        </p>
        <% include footer %>