<body>
        <nav
          class="navbar navbar-light"
          role="navigation"
          style="background-color: #7ac0c0;"
        >
          <a class="navbar-brand" href="/landing">Book rental</a>         <!--index.html-->
          <div class="navbar-expand">
            <ul class="navbar-nav mr-auto mt-10 mt-lg-10">
              <li class="nav-item">
                <a class="nav-link" href="/landing">Kezdőoldal</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" href="/readers">Olvasók</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/books">Könyvek</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/rentals">Kölcsönzéseim</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/mybooks">Könyveim</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#">|</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout">Kijelentkezés</a>
              </li>
            </ul>
          </div>
        </nav>