<% include header %>
<link rel="stylesheet" href="/books.css"/>
<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

</head>

<% include navbar %>

<!--Az egészet egy card-ba lehetne rakni-->
<div class="container">
    <div class="card">
        <div class="table-responsive-md">
            <table class="table table-striped">
                <caption>
                    Olvasók listája
                </caption>
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Olvasó</th>
                    <th scope="col">Könyveinek száma</th>
                </tr>
                </thead>
                <tbody>
                <%
                var i = 1;
                data.users.forEach(function (reader) {
                %>
                    <tr>
                        <th scope="row">
                            <%= i++; %>
                        </th>
                        <td><%= reader.lname %> <%= reader.fname %></td>
                        <td><%= reader.books %></td>
                    </tr>
                <% }) %>
                </tbody>
            </table>
        </div>
<% include footer %>