.container{
    display: grid;
    border-radius: 40px;
}
.card_text {
  margin-top: 30px;
  text-align: center;
}
.card {
  margin-top: 40px;
  background: white;
  border-radius: 16px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

form{
    margin: 20px 20px 20px 20px;
    min-width: 600px;
    max-width: 700px;
    align-self: center;    
}

.add_button{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
}